<!DOCTYPE html>
<html>

   <head>
      <title>Shopping Cart</title>
   </head>
	
   <body>
      
      <h1 style='margin-bottom: 200px;margin-left:500px;color: orange'>Product Information</h1>
      <h1 style='margin-bottom: 200px;margin-left:500px;color:chartreuse'>
        Name:<%=name%><br>
        Category:<%=category%><br>
        Gender:<%=gender%><br>
        Price:<%=price%>
       </h1>
   

   </body>
	
</html>