<!DOCTYPE html>
<html>

   <head>
      <title>Shopping Cart</title>
   </head>
	
   <body>
      
      <h1 style='margin-bottom: 200px;margin-left:500px;color: orange'>Welcome to Shopping Cart</h1>
      
      <a href="/add_products"><h2 style='margin-bottom: 50px;margin-left:600px;color:chartreuse'>Add Products</h2></a>
      <a href="/login"><h2 style='margin-bottom: 200px;margin-left:600px;color:chartreuse'>View Products</h2></a>

   </body>
	
</html>